<h1>FAQ</h1>

<h2>What is Comic Book Keeper?</h2>

<br>
<h2>Why Is This Here?</h2>
<p>
  Comic Book Keeper was an academic project that became an attempt to drag my father into the computer age. He was trying to create an inventory of his comic book collection, but much to my chagrin he was trying to do this on a series of legal pads. After my intial twitching, I realized I could help my analog dependent father by writing this app.
</p>
