<div class="home-page">

<h1>Comic Book Keeper</h1>

<%= link_to 'Collectibles Index', '/' %>
<br>
<%= link_to 'FAQ', '/pages/faq' %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>test</p>


</div>
