<div class="home-page">
  <h1>Comic Book Keeper</h1>
  <p>
    <%= link_to 'Collectibles Index', '/' %>
  </p>
  <p>
    <%= link_to 'FAQ', '/pages/faq' %>
  </p>
  <p>
    <%= link_to 'Comic Grading Guide', 'http://comicspriceguide.com/comic-book-grading' %>
  </p>
  <p>
    <%= link_to 'Pricing Guide', 'http://comicspriceguide.com/comic-book-search' %>
  </p>
</div>
