body {
  margin: 0;
}

header {
  font-family: Rockwell, serif;
}

.nav-title {
   margin: 0;
   color: gold;
   background-color: steelblue;
   padding: 12px 8px;
   font-size: 28pt;

 }

.nav-bar {
  background-color: #b0c4de;
  font-size: 12pt;
  color: black;
  padding: 4pt;
}

.auth-links {
  float: right;
}

.sub-nav {
  margin-left: 30pt;
}

/*.home-page {
  background-image: url(https://cdn.pixabay.com/photo/2014/10/20/13/10/comics-495258_960_720.jpg);
  background-attachment: fixed;
}*/
